.home--top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home--bottom {
    display: flex;
    padding: 20px;
}

.friends {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.friend--auth {
    width: 100%;
}

.auth--user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-container {
    background-color: #1f1f1e;
    height: 100vh;
    display: flex;

    padding: 75px;
    padding-top: 125px;
}

.main-container__content {
    background-color: white;
    width: 100%;
    padding: 20px;

    border-radius: 25px;

    display: flex;
    flex-direction: row;
}

.my-friends-container {
    padding: 5px;
    padding-right: 15px;
}

.search-friends-container {
    padding: 5px;
    flex: 1;
}