.home--container {
    background-color: #1f1f1e;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home--friend {
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    text-decoration: #e0e0e0;
    text-decoration-line: underline;
}



.home--text {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/people.png");
    background-position: center;
    width: 1136px;
    height: 587px;
}