.home--container {
    background-color: #1f1f1e;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home--friend {
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    text-decoration: #e0e0e0;
    text-decoration-line: underline;
}



.home--text {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/people.png");
    background-position: center;
    width: 900px;
    height: 587px;
}

.desc-text {
    font-weight: 400;
    font-size: 18px;

    color: white;
    opacity: 0.8;
}

.company-name {
    padding-bottom: 25px;
    font-size: 64px;
}

.button-find {
    margin-top: 35px;
}