.msg-profile {
    width: 300px;
    height: 100vh;
    margin-top: 67px;
    background-color: #1f1f1e;
    display:flex;
    justify-content: center;
}

.msg-profile-avatar {
    width: 80px !important;
    height: 80px !important;
}