.MuiAppBar-colorPrimary {
    color: white !important;
    background-color: #161616 !important;
}

.header {
    border-bottom: 2px solid white;
}

.MuiToolbar-root {
    display: flex !important;
    justify-content: space-between !important;
}