.search-friend-container {
    border: solid rgba(0,0,0, 0.1);
    border-width: 1px 0;

    height: 64px;

    display: flex;
    flex-direction: row;

    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
}

.search-friend__name {
    font-size: 14px;
    flex: 1;
}

.search-friend__button {
    cursor: pointer;
    
}